<HTML>
<script>

// there's something about needing a comma to indicate the datatype.

async function getMax() {
    const endpoint = `http://zc.local:8787/maxid`;
                 # API  hpicfilename.py:    port = 8787 
    console.log(endpoint)
    try {
      const response = await fetch(endpoint);
      const { id, comma } = await response.json();
      console.log(`${id}  ${comma}`)
    } catch (err) {
      console.error('Fetch error:', err);
    }
  };

</script>
<BODY>
<input type=button onClick="getMax()">
</BODY
</HTML>


